<h1>Artist detail page</h1>
<div *ngIf="artist$ | async as artist">
    <h3>{{ artist.name }}</h3>
    <li *ngFor="let item of artist.artistTypes; let i = index">
        {{ item }}
    </li>
    <hr>
    <p><b>Songs</b></p>
    <div *ngIf="condition; else elseBlock">
        <li *ngFor="let item of artist.songs; let i = index">
          {{ item }}
        </li>
    </div>
    <ng-template #elseBlock>N/A</ng-template>
    <hr>
    <p><b>Albums</b></p>
    <div *ngIf="condition; else elseBlock">
        <li *ngFor="let item of artist.albums; let i = index">
            {{ item }}
        </li>
    </div>
    <ng-template #elseBlock>N/A</ng-template>
    <hr>
    <p><b>{{ artist.likes }}</b> likes</p>
</div>