<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>MyMusic</h3>
    <p>
      Mijn project geeft gebruikers de mogelijkheid om albums, liedjes en artiesten te liken. Om dit mogelijk te maken maak ik gebruik van de entiteiten: User, Album, Song en Artist.
      Hierbij heeft een artist albums en songs. En een album kan meerdere songs hebben. Voor een user wordt bijgehouden welke artists en songs hij heeft geliked. Songs kunnen dus los staan van een album.
      Ook moet als een user een album liket alle songs worden geliked. Ook kan een artist worden gekoppeld aan een user account, zodat deze vanuit zichzelf songs en albums kunnen releasen.
      Voor een song of album kunnen de credits verschillen, daarom wordt gebruik gemaakt van een geneste object met links naar andere artiesten.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.jpg"
          class="card-img-top rounded-circle border profile-pic"
          alt="ME!"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Tim Hubers van Assenraad</h5>
        <p class="card-text">
          Studentnummer: 2157251
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <p>User</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>birthdate: date</li>
      <li>email: string</li>
      <li>likedSongs: number array</li>
      <li>likedAlbums: number array</li>
      <li>artist: number</li>
      <li>friends: number array</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Artist</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>artistType: string array</li>
      <li>songs: number array</li>
      <li>albums: number array</li>
      <li>likes: number</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Song</p>
    <ul>
      <li>id: number</li>
      <li>title: string</li>
      <li>credits: nested object met velden naar artists</li>
      <li>addDate: date</li>
      <li>length: time</li>
      <li>genres: string array</li>
      <li>likes: number</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Album</p>
    <ul>
      <li>id: number</li>
      <li>title: string</li>
      <li>credits: nested object met velden naar artists</li>
      <li>addDate: date</li>
      <li>songs: number array</li>
      <li>genres: string array</li>
      <li>likes: number</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div>
