<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ title }}</a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse"
      id="navbarsDefault"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link" id="dropdownMenu1" ngbDropdownToggle>
              Users
            </button>
            <div
              ngbDropdownMenu
              class="dropdown-menu"
              aria-labelledby="dropdownMenu1"
            >
              <button
                class="dropdown-item"
                routerLink="/users"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Users
              </button>
              <button
                class="dropdown-item"
                routerLink="/"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Another Action
              </button>
              <button
                class="dropdown-item"
                routerLink="/"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Something else is here
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link" id="dropdownMenu1" ngbDropdownToggle>
              Artists
            </button>
            <div
              ngbDropdownMenu
              class="dropdown-menu"
              aria-labelledby="dropdownMenu1"
            >
              <button
                class="dropdown-item"
                routerLink="/artists"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                All
              </button>
              <button
                class="dropdown-item"
                routerLink="/artists/add"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Add
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            [routerLinkActive]="['active']"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            [routerLinkActive]="['active']"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
