<h1>All artists</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Likes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artist of artists$ | async">
        <th scope="row">{{ artist.id }}</th>
        <td>
          <a routerLink="{{ artist.id }}">{{ artist.name }}</a>
        </td>
        <td>{{ artist.likes }}</td>
      </tr>
    </tbody>
</table>